{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
	<article class="media content-section"  style="background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,0.2));opacity: 0.9;">
          <div class="media-body">
            <p class="article-content">Hi I am Pravin Raj author and creator of this site. This is a blog site only for Science and Philosphy related concepts most of the topics ranges mostly on Computer Science. I created this blog site and please check my other CV details in this link <a href="http://www.pravinrajs.com/">pravinrajs.com</a></p>
          </div>
        </article>
{% endblock content %}